.header {
     
    color: white;
    text-align: center;
    font-family: Raleway;
    font-size: 1.4em;
    padding: 10px;
    background-color: #15546A;
   	position: relative;
}

.mainbody{

	height: 500px;
	color: blue;
	text-align: center;
	position: relative;
	margin: auto;

}


.panel {
	background: white;
    background-size:90% 90%;
    height:180px;
	display:none;
    font-family:raleway;
}

.panel p{
    text-align:center;
    color: black;
    padding-top: 0px;

}
.slide {
	margin:0;
	padding:0;
	border-top:solid 1px #3B5F68;
}
.pull-me {
	display:block;
    position:relative;
    left:790px;
    width:100px;
    height:20px;
	font-family:arial,sans-serif;
    font-size:14px;
	color:#ffffff;
    background:#0a3742;
	text-decoration:none;
	text-align: center;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -webkit-box-shadow: 0 0 8px #3B5F68;
    -moz-box-shadow: 0 0 8px #3B5F68;
    box-shadow: 0 0 8px #3B5F68;
    cursor:pointer;
    text-align: center;
}



.aGraph{

	left:0; 
	float:left; 
    height:500px;
    width:800px;
    text-align: center;
    margin: auto;


}

.container2{
  margin: auto;
  margin-top:10px;
  left:0px; 
  float:left; 
  height:800px;
  text-align: center;
  position: relative;
  margin: auto;
  width: 850px;
  clear: bottom;
}

#heading{


    margin-left: 325px;
    margin-top: 20px;
    background-color: #371e37;
    color: #ffffff;
    width: 180px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 1.1em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 8px #371e33;

}

#stat{

	background-color:#15546A;
	height: 100px;
	width: 140px;
	display: inline-block;
	margin: 5px;
	border-radius: 3px;
	color: white;
	text-align: center;
	font-size: 0.8em;
	font-family: Raleway;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 8px #3B5F68;
}

#keystat1{


	display: inline-block;
	background-color:#0b4650;
	height: 140px;
	width: 160px;
	margin-right: 150px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-top: 20px;
	border-radius: 3px;
	color: white;
	text-align: center;
	font-size: 1.0em;
	font-family: Raleway;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 14px #3B5F68;
	position: relative;

}

#keystat2{


	display: inline-block;
	background-color:#0b4650;
	height: 140px;
	width: 160px;
	top: 22px;
	margin-bottom: 50px;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 120px;
	border-radius: 3px;
	color: white;
	text-align: center;
	font-size: 1.0em;
	font-family: Raleway;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 14px #3B5F68;
	position: relative;

}



